/*
      $base03:    #002b36;
      $base02:    #073642;
      $base01:    #586e75;
      $base00:    #657b83;
      $base0:     #839496;
      $base1:     #93a1a1;
      $base2:     #eee8d5;
      $base3:     #fdf6e3;
      $yellow:    #b58900;
      $orange:    #cb4b16;
      $red:       #dc322f;
      $magenta:   #d33682;
      $violet:    #6c71c4;
      $blue:      #268bd2;
      $cyan:      #2aa198;
      $green:     #859900;
      credits to the solarized color scheme:
      http://ethanschoonover.com/solarized
*/

      body {
        padding:0px;
        margin:0px;
        background-color: #002b36;
        overflow: hidden;
      }

      canvas {
        width: 100%;
        margin: 0px;
      }
      header { 
        display: block;
        color: #839496;
        text-align: center;
        background-color: #002b36;
      }
      #distanceMeter {
        color: #ffffff;
        text-align: center;
      }
      a {
        color: #93a1a1;
      }