body {
  padding: 0px;
  margin: 0px;
  background-color: black;
  overflow: hidden;
}
canvas {
  width: 100%;
  margin: 0px;
}
header { 
  display: block;
  color: #839496;
  text-align: center;
  background-color: #002b36;
}
#hud {
  padding: 5px;
  position: absolute;
  color: white;
  text-align: left;
  z-index: 10;
  pointer-events: none;
}